//Font
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;900&display=swap';
$font-name: 'Jost';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;