.infoBar {
	background-color: #fcfcfc;

	h3 {
		margin-bottom: 0;
		font-weight: bold;
		color:$text-footer-about;
		font-size: 12px;
	}

	.icon_place {
		float: left;
		width: 38px;
		height: 100%;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;

	.icon {
		font-size: 32px;
		line-height: 65px;
		float: left;
		height: 100%;
		color:$primary-color;
		}
	}

	.text_place {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 12px;
		color:$text-footer-about;
		line-height: initial;
	}

	.row {
		padding: 0px !important;
	}

	.ui.grid {
		margin: 0px !important;

		.column-dp-f{
			display: flex;
			justify-content: center;
			flex-direction: row !important;
			align-items: center;
			padding-bottom: 5px;

			@media screen and (max-width: 767px) {
				padding-bottom: 0;
			}
				
		}

		.slick-InfoBar{
			.slick-arrow {
				display: none !important;
			}

			.slick-dots {
				padding-bottom: 12px !important;
			}

			.column-inner {
				display: flex;
				justify-content: center;
				align-items: center;

				.text_place {
					text-align: initial;
					width: auto !important;
				}

			}

		}

	}
}
